body,html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
}

div {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--tip-border-color);
  border-radius: 4px;
}