// 公共主题样式背景色，字体颜色，边框颜色等
:root {
  --theme-color-value:24, 254, 223; // 主题颜色值
  --theme-color: rgba(var(--theme-color-value),1); // 主题颜色
  --header-row-color: rgba(var(--theme-color-value), 0.5); // 表头行颜色
  --tip-bg-color: #18474d; // 提示框背景色
  --tip-border-color: rgba(var(--theme-color-value), 0.6); // 提示框边框颜色
  --container-bg-color: rgba(0, 33, 29, 0.7); // 容器背景色
  --container-border-color: rgba(var(--theme-color-value), 0.4); // 容器边框颜色
}

// 主题一
html[theme="one"] {
  --theme-color: rgba(var(--theme-color-value),1); // 主题颜色
  --tip-bg-color: #18474d; // 提示框背景色
  --tip-border-color: rgba(var(--theme-color-value), 0.6); // 提示框边框颜色
  --side-nav-border-color: rgba(var(--theme-color-value), 0.4); // 侧边栏边框颜色
  --container-bg-color: rgba(0, 33, 29, 0.5); // 容器背景色
  --container-border-color: rgba(var(--theme-color-value), 0.4); // 容器边框颜色
  --container-box-shadow: inset 0px 0px 6px 0px rgba(24, 254, 254, 0.6); // 容器阴影
  --border-color: rgba(var(--theme-color-value), 0.2); // 边框颜色
  --header-row-color: rgba(var(--theme-color-value), 0.1); // 表头行颜色
  --title-bg-color: rgba(var(--theme-color-value), 0.18); // 标题背景色
  --row-bg-color: rgba(216, 216, 216, 0.05); // 表行背景色
  --row-hover-bg-color: rgba(var(--theme-color-value), 0.08); // 表行鼠标悬停背景色
  --message-box-shadow: 0px 0px 10px 0px rgba(24, 254, 254, 0.6); // 提示框阴影
  --config-bg-color:#16282a; // 配置背景色
}