// 公共主题样式背景色，字体颜色，边框颜色等
:root {
  --theme-color-value:24, 254, 223;
  --theme-color: rgba(var(--theme-color-value),1); // 项目主题颜色
  --header-row-color: rgba(var(--theme-color-value), 0.5);
  --tip-bg-color: #18474d;
    --tip-border-color: rgba(var(--theme-color-value), 0.6);
  --container-bg-color: rgba(0, 33, 29, 0.7);
  --container-border-color: rgba(var(--theme-color-value), 0.4);
}

// 主题一
html[theme="one"] {
  --theme-color: rgba(var(--theme-color-value),1);
  --tip-bg-color: #18474d;
  // --header-bg:url(../assets/images/header-bg.webp) no-repeat center;
    --tip-border-color: rgba(var(--theme-color-value), 0.6);
  --side-nav-border-color: rgba(var(--theme-color-value), 0.4);
  --container-bg-color: rgba(0, 33, 29, 0.5);
  --container-border-color: rgba(var(--theme-color-value), 0.4);
  --container-box-shadow: inset 0px 0px 6px 0px rgba(24, 254, 254, 0.6);
  --border-color: rgba(var(--theme-color-value), 0.2);
  --header-row-color: rgba(var(--theme-color-value), 0.1);
  --title-bg-color: rgba(var(--theme-color-value), 0.18);
  --row-bg-color: rgba(216, 216, 216, 0.05);
  --row-hover-bg-color: rgba(var(--theme-color-value), 0.08);
  --message-box-shadow: 0px 0px 10px 0px rgba(24, 254, 254, 0.6);
  --config-bg-color:#16282a;
}